@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Leckerli+One&family=Montserrat&family=Poppins&display=swap");

.App {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
